.bartering {
  section {
    padding-top: 0;
  }
  &__container {
    margin-top: 10px;
  }
}

.bartering__page-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.bartering__view-more--btn {
  color: var(--ion-color-primary);
  font-size: 20px;
}

.bartering__user-product-image,
.bartering__add-product-icon {
  margin-top: 8px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 1px 6px -1px;
}
.box-layout {
  text-align: left;
  margin: 0;
  padding: 0 0;
  box-shadow: none;
  overflow: overlay;
}
.box-layout__container-card {
  text-align: left;
  margin: 0;
  padding: 0 0;
  position: relative;
  box-shadow: none;
  overflow: overlay;
}

.box-layout__media-container {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 170px;
  max-width: 100%;
}

.box-layout__image {
  border-radius: 8px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.box-layout__title {
  margin-top: 2px;
  padding-left: 0;
  font-weight: bold;
  font-size: 16px;
}

.relevant__products-container {
  margin-top: 5px;
}

.page-info {
  margin-bottom: 0;
  margin-bottom: 10px;
}

.product-slider {
  margin-right: -10px;
  margin-left: -10px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-top: 0;
  -ms-overflow-style: none;
}

.product-slider-item {
  min-width: 70px;
}

.bartering__user-product-selected {
  border: 4px solid var(--ion-color-primary);
  padding: 2px;
}

.barter-image {
  margin-top: 30px;
}

.bartering__when-no-products-are-added-by-user {
  height: 100%;
}

.bartering__edit-product {
  background-color: white;
  color: var(--ion-color-primary);
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
}

.bartering__user-product-title {
  font-size: 12px;
  margin-top: 10px;
}

.bartering__matched-product-title {
  padding: 10px 0 5px 0;
}

.bartering__header-greenday-text {
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 22px;
}

.horizontal-slider__item {
  min-width: 70px;
}

.horizontal-slider__item:last-child {
  min-width: 80px;
}
