<ion-header class="header" mode="ios">
  <ion-toolbar class="header__toolbar" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary"
        ><ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="notification">
  <div class="pageTopIndicator"></div>
  <section>
    <div class="page-info">
      <h1 class="page-info__header">Notification</h1>
    </div>
    <ion-list class="notification__list">
      <ion-item lines="none" class="notification__list-item">
        <ion-label>
          <h3>Lorem ipsum</h3>
          <p>dolor sit amet</p>
          <p>consectetur adipiscing elit. Duis ut urna neque.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="notification__list-item">
        <ion-label>
          <h3>Lorem ipsum</h3>
          <p>dolor sit amet</p>
          <p>consectetur adipiscing elit. Duis ut urna neque.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="notification__list-item">
        <ion-label>
          <h3>Lorem ipsum</h3>
          <p>dolor sit amet</p>
          <p>consectetur adipiscing elit. Duis ut urna neque.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="notification__list-item">
        <ion-label>
          <h3>Lorem ipsum</h3>
          <p>dolor sit amet</p>
          <p>consectetur adipiscing elit. Duis ut urna neque.</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
