.bartering {
  section {
    padding-top: 0;
  }
  &__container {
    margin-top: 10px;
  }
  &__tiles-container {
    &-message {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
      color: rgb(163, 159, 159);
    }
    &-header {
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold;
      color: black;
    }
  }
}
.bartering__view-more--btn {
  color: var(--ion-color-primary);
  font-size: 20px;
}

.bartering__view-matches {
  background-color: #7bf2c4;
  padding: 12px;
  margin-left: 30%;
  border-radius: 20px;
}

.bartering__add-product-icon {
  width: 60px;
}

.page-info {
  margin-bottom: 0;
}
.product-slider {
  margin-right: -10px;
  margin-left: -10px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-top: 0;
  -ms-overflow-style: none;
  padding: 3px;
}

.product-slider-item {
  min-width: 70px;
}

.row-layout {
  margin-top: 15px;
}

.row-layout__image {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 7px -2px;
  object-fit: cover;
}

.row-layout__chat {
  margin-right: 20px;
  background: #7bf2c4;
  padding: 0 10px;
  border-radius: 5px;
}

.bartering__user-product-selected {
  border: 4px solid var(--ion-color-primary);
  padding: 2px;
}

.barter-image-not-found {
  margin-top: 90px;
  width: 70%;
}

div.bartering__product-item:first-child {
  border-bottom: none;
}
