.video-viewer {
  --height: 350px;
  --width: 100%;

  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  position: relative;
  margin-top: 38%;
}

.video-viewer__media-video {
  height: var(--height);
  width: var(--width);
  iframe {
    width: var(--width);
    height: var(--height);
  }
}
