<ion-header class="header" mode="ios">
  <ion-toolbar
    class="header__toolbar"
    mode="ios"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <ion-buttons slot="start">
      <ion-button class="menu-icon">
        <ion-menu-toggle menu="sideMenu" class="menu-button">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-menu-toggle>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      class="search-bar"
      (click)="openSearchPage({clickedItem: 'topSearchBar'})"
      placeholder="Search eco-friendly products"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content
  #productsContainer
  class="market"
  (ionScrollEnd)="onPageScrollEvent()"
  [scrollEvents]="true"
>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="pageTopIndicator"></div>
  <section fxLayout="column">
    <div class="market__filters-container" fxLayout="column" *ngIf="iconsSets">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div
          class="market__filter-items-list-container horizontal-slider"
          fxLayout="row"
          fxFill
        >
          <ng-container
            *ngFor="let queryItem of staticFilterList; let idx = index; trackBy: filterListTrackByFn"
          >
            <ion-button
              class="market__tags-slide-button market__categories-button horizontal-slider__item"
              [color]="queryItem.text === appConfigService?.constants?.marketPopularProductsTagText? 'warning': 'danger'"
              shape="round"
              size="small"
              (click)="selectFilter({filterListType: 'static', queryItem: queryItem})"
              [fill]="queryItem.selected ? 'solid' : 'outline'"
              [id]="queryItem.text+idx"
              fxLayoutGap="5px"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <ng-container
                *ngIf="queryItem.selected; else queryItemNotSelected"
              >
                <ion-icon
                  [ngStyle]="{'color': 'white'}"
                  [src]="iconsSets[queryItem.text].selected"
                ></ion-icon>
              </ng-container>
              <ng-template #queryItemNotSelected>
                <ion-icon
                  [src]="iconsSets[queryItem.text].unselected"
                ></ion-icon>
              </ng-template>
              <span> {{ queryItem.text | uppercase}} </span>
            </ion-button>
          </ng-container>
          <ng-container
            *ngFor="let queryItem of dynamicFilterList; let idx = index; trackBy: filterListTrackByFn"
          >
            <ion-button
              class="market__tags-slide-button market__categories-button horizontal-slider__item"
              color="dark"
              shape="round"
              size="small"
              (click)="selectFilter({filterListType: 'dynamic', queryItem: queryItem})"
              [fill]="queryItem.selected ? 'solid' : 'outline'"
              [id]="queryItem.text+idx"
            >
              {{ queryItem.text | uppercase}}
            </ion-button>
          </ng-container>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="market__filter-row-container"
      >
        <ion-button
          fill="clear"
          size="small"
          type="button"
          color="dark"
          class="sorting-text"
          (click)="openFilterModel()"
        >
          {{sortingIndicatorText}}
          <ng-container [ngSwitch]="sortingModalActive ? true: false">
            <ion-icon *ngSwitchCase="true" name="caret-up-outline"></ion-icon>
            <ion-icon
              *ngSwitchCase="false"
              name="caret-down-outline"
            ></ion-icon>
          </ng-container>
        </ion-button>
        <ion-icon
          class="market__tags-slide-button-search-bird-icon"
          [src]="quickSearchIcon"
          (click)="openSearchPage({clickedItem: 'bird'})"
        ></ion-icon>
      </div>
    </div>

    <div class="market__products-container" [ngSwitch]="productFetchStatus">
      <ng-container *ngSwitchCase="'completed'">
        <div
          class="market__products-container"
          fxLayout="row wrap"
          fxLayoutAlign="space-between start"
        >
          <user-portal-product-tile
            fxFlex="48"
            class="market__item"
            layoutType="boxLayout"
            *ngFor="let product of (products | async)"
            [product]="product"
            [showPrice]="true"
            (click)="onProductClick(product)"
          >
          </user-portal-product-tile>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'inProgress'">
        <div
          class="market__empty-content"
          fxLayout="row wrap"
          fxLayoutGap="10px"
          fxLayoutAlign="space-between center"
        >
          <div
            class="market__empty-skeleton"
            *ngFor="let i of [0,0,0,0,0,0,0,0,0,0]"
            fxFlex="45"
          >
            <ion-skeleton-text animated="true"></ion-skeleton-text>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'empty'">
        <div
          class="market__empty-result-container"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
        >
          <img
            class="market__empty-list-image"
            [src]="asset.merchantShopIcon"
            alt="empty-list-image"
          />
          <div class="market__empty-result-label">
            {{storeService.json.pageConfig.value.componentData.productSearchFilterData.emptyResultText}}
          </div>
          <ion-button
            expand="block"
            fill="outline"
            size="medium"
            color="warning"
            (click)="openSearchPage({clickedItem: 'noResultSearchAgainButtonClick'})"
            >{{storeService.json.pageConfig.value.componentData.productSearchFilterData.makeAnotherSearchButtonText}}</ion-button
          >
        </div>
      </ng-container>
    </div>
  </section>
</ion-content>
