.siq_bR {
  display: none !important;
}

.zsiq_theme1 div.zsiq_cnt {
  display: none !important;
}

@media only screen and (min-width: 100px) and (max-width: 555px) {
  .zls-sptwndw.siqembed.siqtrans.zsiq-mobhgt.zsiq-newtheme.siq_rht.zsiq_size2.siqanim {
    height: 90% !important;
  }
}
