<ion-header class="header" mode="ios">
  <ion-toolbar class="header__toolbar" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary"
        ><ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bartering">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="pageTopIndicator"></div>
  <section>
    <div class="bartering__container">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="page-info"
      >
        <div class="bartering__tiles-container-header">Matches</div>
      </div>
    </div>
    <div
      class="product-slider horizontal-slider"
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="10px"
    >
      <div
        flex="80"
        *ngFor="let data of productsByUser"
        fxLayout="column"
        class="product-slider-item horizontal-slider__item"
      >
        <img
          [src]="data.images[0]"
          fill="clear"
          class="bartering__user-product-image"
          (click)="selectProductByUser(data)"
          [class.bartering__user-product-selected]="userSelectedProductId === data.productId"
          fxLayout="row"
          fxLayoutAlign="end center"
        />
        <span class="bartering__user-product-title clamp-line-1">
          {{data.title | slice:0:10}}
        </span>
      </div>
    </div>
    <div class="row-layout" *ngFor="let data of matchedProducts">
      <div
        class="row-layout__container"
        fxLayout="row"
        fxLayoutAlign="start"
        fxLayoutGap="10px"
      >
        <div class="row-layout__media-container" fxFlex="100px">
          <img
            class="row-layout__image"
            [src]="data.images[0]"
            alt="placeholder image"
            (click)="gotoProductDetail(data.productId)"
          />
        </div>
        <div class="row-layout__details">
          <div class="row-layout__title bartering__product-title clamp-line-1">
            {{data.title}}
          </div>
          <ion-chip class="row-layout__chip">
            <ion-avatar>
              <ion-img
                *ngIf="data.userImage; else defaultAvatar"
                [src]="data.userImage"
              ></ion-img>
            </ion-avatar>
            <ng-template #defaultAvatar>
              <ion-img [src]="assetService.defaultAvatarIcon"></ion-img>
            </ng-template>
            <ion-label>{{data?.userName}}</ion-label>
          </ion-chip>
          <div
            class="row-layout__button"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <ion-button
              color="danger"
              shape="circle"
              fill="outline"
              (click)="removeMatch(data)"
            >
              Remove
            </ion-button>
            <ion-button
              color="primary"
              shape="circle"
              (click)="chatWithUser(data)"
            >
              Chat
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
