.search-page__empty-skeleton {
  height: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.search-page__empty-result-container {
  height: 50vh;
}

.search-page__empty-list-image {
  width: 80px;
}
.search-page__empty-result-label {
  font-weight: normal;
}
